<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>材料分类</title>
  <link rel="stylesheet" href="../Css/Style.css">
  <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-h">
      <h4>"慧系列"大数据智能生态平台</h4>
      <ul>
        <li>
          <a class="title" href="OCRIdentify.html">OCR识别</a>
        </li>
        <li>
          <a class="title active mr" href="Classification.html">材料分类</a>
        </li>
        <li>
          <a class="title" href="index.html">案情分析提取</a>
        </li>
        <li>
          <a class="title">文书辅助生成</a>
        </li>
        <li>
          <a class="title" href="Retrieval.html">全文检索</a>
        </li>
        <li>
          <a class="title">小思助手</a>
        </li>
        <li>
          <a class="title">数据库展示</a>
        </li>
        <li>
          <a class="title">慧视可视化</a>
        </li>
      </ul>
    </div>
    <div class="wrapper-b">
      body<br/>
      body<br/>
      body<br/>
      body<br/>
      body<br/>
      body<br/>
      body<br/>
      body<br/>
      body<br/>
      body<br/>
      body<br/>
      body<br/>
    </div>
    <div class="wrapper-f">footer</div>
  </div>
</body>
<script>
  $('.title').on({
    mouseover : function(){
			$(this).addClass('active');
		} ,
    mouseout : function(){
      $(this).removeClass('active');
      $('.mr').addClass('active');
    }
  })
</script>
</html>
