<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OCR识别</title>
  <link rel="stylesheet" href="../Css/Style.css">
  <link rel="stylesheet" href="../Css/OCR.css">
  <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-h">
      <h4>"慧系列"大数据智能生态平台</h4>
      <ul>
        <li>
          <a class="title active mr" href="OCRIdentify.html">OCR识别</a>
        </li>
        <li>
          <a class="title" href="Classification.html">材料分类</a>
        </li>
        <li>
          <a class="title" href="index.html">案情分析提取</a>
        </li>
        <li>
          <a class="title">文书辅助生成</a>
        </li>
        <li>
          <a class="title" href="Retrieval.html">全文检索</a>
        </li>
        <li>
          <a class="title">小思助手</a>
        </li>
        <li>
          <a class="title">数据库展示</a>
        </li>
        <li>
          <a class="title">慧视可视化</a>
        </li>
      </ul>
    </div>
    <div class="wrapper-b">
      <div class="box1">
        <label for="img_upload" class="upload-btn">
          选择文件
          <input type="file" id="img_upload" accept="image/*">
        </label>
        <div class="img_wrap"></div>
        <p class="p1">或者将转换文件拖到这里</p>
        <p class="p2">允许上传格式：png/jpg/pdf/bmp/gif</p>
        <p class="p1">如果没有“按钮”刷新</p>
        <label style="color:#99ccff">
          <input type="checkbox">自动刷新
        </label>
      </div>
      <div class="box2">
        <div class="h1">转换结果选择：</div>
        <div class="input-box1">
          <label>
            <input type="radio" name="res">可编辑复制PDF文档（保留格式）
          </label>
          <label>
            <input type="radio" name="res">保留格式word文档（保留格式）
          </label>
          <label>
            <input type="radio" name="res">文本文档txt（仅保留部分格式，不建议)
          </label>
        </div>
        <div class="h1">识别语言组合:</div>
        <div class="input-box2">
          <label>
            <input type="checkbox" name="lang">简体中文
          </label>
          <label>
            <input type="checkbox" name="lang">英语
          </label>
          <label>
            <input type="checkbox" name="lang">数字
          </label>
          <label>
            <input type="checkbox" name="lang">日语
          </label>
          <label>
            <input type="checkbox" name="lang">韩语
          </label>
          <label>
            <input type="checkbox" name="lang">法语
          </label>
          <label>
            <input type="checkbox" name="lang">俄语
          </label>
          <label>
            <input type="checkbox" name="lang">西班牙语
          </label>
          <label>
            <input type="checkbox" name="lang">德语
          </label>
        </div>
        <div class="btn-box">
          <button type="button" name="button">转换文件</button>
        </div>
      </div>

    </div>
    <div class="wrapper-f"></div>
  </div>
</body>
<script>
  $('.title').on({
    mouseover : function(){
			$(this).addClass('active');
		} ,
    mouseout : function(){
      $(this).removeClass('active');
      $('.mr').addClass('active');
    }
  })
  $('#img_upload').on('change',function(){
    var file=$(this).prop("files")[0];
    console.log(file)
    if(!file.type.match('image.*')){
      return false;
    }
  });
  var box1 = document.querySelector('.box1');
  box1.addEventListener('dragover',function(e){
    e.stopPropagation();
    e.preventDefault();
  });
  box1.addEventListener('drop',function(e){
    e.stopPropagation();
    e.preventDefault();
    console.log(e)
    var file =e.dataTransfer.flies;
    if(!file.type.match('image.*')){
      return false;
    }
  });
</script>
</html>
