<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>全文检索</title>
  <link rel="stylesheet" href="../Css/Style.css">
  <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-h">
      <h4>"慧系列"大数据智能生态平台</h4>
      <ul>
        <li>
          <a class="title" href="OCRIdentify.html">OCR识别</a>
        </li>
        <li>
          <a class="title" href="Classification.html">材料分类</a>
        </li>
        <li>
          <a class="title" href="index.html">案情分析提取</a>
        </li>
        <li>
          <a class="title">文书辅助生成</a>
        </li>
        <li>
          <a class="title active mr" href="Retrieval.html">全文检索</a>
        </li>
        <li>
          <a class="title">小思助手</a>
        </li>
        <li>
          <a class="title">数据库展示</a>
        </li>
        <li>
          <a class="title">慧视可视化</a>
        </li>
      </ul>
    </div>
    <div class="wrapper-b">
      <div class="b-search">
        <div class="b-search-content">
          <p>在系统中共检索到<span style="color:red">30</span>个裁判文书</p>
          <div class="b-search-inp">
            <input type="text" class="search-inp"><button type="button" class="search-search">检索</button>
            <button type="button" name="button" class="search-result">在结果中检索</button>
          </div>
          <p>检索条件：<span style="color:green">盗窃</span></p>
        </div>
      </div>
      <div class="b-search-tab">
        <button type="button" class="btn">法律法规</button><button type="button" class="btn btn-active">裁判文书</button><button type="button" class="btn">经典案例</button>
        <div>
          <div class="libs" style="display:none">
            法律法规
          </div>

          <div class="libs" style="display:block">
            <ul class="law">
              <li class="law-title">
                <span class="law-num">1</span>
                <h3>黄某与张某离婚纠纷一审民事裁定书</h3>
              </li>
              <li class="law-content">
                <p>因涉嫌犯盗窃罪，于2013年5月30日被余姚市公安局刑事拘留，同年7月3日被依法逮捕，现羁押于余姚市看守所。</p>
                <p>被告人陈某，因涉嫌犯盗窃罪，于2013年5月30日被余姚市公安局刑事拘留，同年7月3日被依法逮捕，现羁押于余姚市看守所。</p>
                <p>被告人韦某，因涉嫌犯盗窃罪，于2013年5月30日被余姚市公安局刑事拘留，同年7月3日被依法逮捕，现羁押于余姚市看守所。</p>
                <p>余姚市人民检察院以余检刑诉（2013）1392号起诉书指控被告人雷某、韦某犯盗窃罪，被告人陈某犯盗窃罪、掩饰、隐瞒犯罪所得罪、于2013年9月30日向</p>
                <p>本院提起公诉。本院于同日立案，并依法适用简易程序，实现独任审判，公开开庭审理了本案。余姚市人民检察院代理检查员李维元，被告人雷某、陈某、</p>
                <p>韦某到庭参加了诉讼。期间，因不能抗拒的原因，本院于2013年10月7日中止对本案审理，同年10月13日依法恢复审理。现已审理终结。</p>
                <p>民事裁定书</p>
                <p>（2016）桂0821民除2181号</p>
                <p>原告黄某、农民。</p>
                <p>被告张某，农民。</p>
                <p>本院在审理原告黄某与被告张某离婚纠纷一案中，原、被告已庭外达成和解，原告黄某2016年9月8日向本院提出撤诉申请。</p>
                <div class="law-bot">
                  <span>2016-09-30</span>&nbsp;&nbsp;
                  <span>广西壮族自治区高级人民法院 </span>&nbsp;&nbsp;
                  <span>2016桂0821民初2181号</span>
                </div>
              </li>
            </ul>

            <ul class="law">
              <li class="law-title">
                <span class="law-num">2</span>
                <h3>临城县农村信用合作联合社企村分社与白建东、王树刚金融借款合同纠纷一审民事裁定书</h3>
              </li>
              <li class="law-content">
                <p>因涉嫌犯盗窃罪，于2013年5月30日被余姚市公安局刑事拘留，同年7月3日被依法逮捕，现羁押于余姚市看守所。</p>
                <p>被告人陈某，因涉嫌犯盗窃罪，于2013年5月30日被余姚市公安局刑事拘留，同年7月3日被依法逮捕，现羁押于余姚市看守所。</p>
                <p>被告人韦某，因涉嫌犯盗窃罪，于2013年5月30日被余姚市公安局刑事拘留，同年7月3日被依法逮捕，现羁押于余姚市看守所。</p>
                <p>余姚市人民检察院以余检刑诉（2013）1392号起诉书指控被告人雷某、韦某犯盗窃罪，被告人陈某犯盗窃罪、掩饰、隐瞒犯罪所得罪、于2013年9月30日向</p>
                <p>本院提起公诉。本院于同日立案，并依法适用简易程序，实现独任审判，公开开庭审理了本案。余姚市人民检察院代理检查员李维元，被告人雷某、陈某、</p>
                <p>韦某到庭参加了诉讼。期间，因不能抗拒的原因，本院于2013年10月7日中止对本案审理，同年10月13日依法恢复审理。现已审理终结。</p>
                <p>民事裁定书</p>
                <p>（2016）桂0821民除2181号</p>
                <p>原告黄某、农民。</p>
                <p>被告张某，农民。</p>
                <p>本院在审理原告黄某与被告张某离婚纠纷一案中，原、被告已庭外达成和解，原告黄某2016年9月8日向本院提出撤诉申请。</p>
                <div class="law-bot">
                  <span>2016-09-30</span>&nbsp;&nbsp;
                  <span>广西壮族自治区高级人民法院 </span>&nbsp;&nbsp;
                  <span>2016桂0821民初2181号</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="libs" style="display:none">
            经典案例
          </div>
        </div>

      </div>
    </div>
    <!-- <div class="wrapper-f">footer</div> -->
  </div>
</body>
<script>
  $('.title').on({
    mouseover : function(){
			$(this).addClass('active');
		} ,
    mouseout : function(){
      $(this).removeClass('active');
      $('.mr').addClass('active');
    }
  })

  $('.btn').on('click',function(){
    var index=$(this).index();
    $(this).addClass('btn-active').siblings().removeClass('btn-active');
    $('.libs').eq(index).show().siblings().hide();
  })
</script>
</html>
